@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
*{
padding:0;
margin:0;
box-sizing:border-box;
font-family:sans-serif;
}
body{
overflow-x:hidden;
}
.hoverable{
transition:all 4000ms;
}
#footer li,h1{
color:white;
margin-bottom:2vh;
}
#footer h1{
font-weight:bolder;
font-size:1.3em;
}
strong{
color:blue;
}
.back{
z-index:1;
}
::-webkit-scrollbar{
  display:none;
 }
 .ulDisplay{
  border-style: solid;
  border-radius: 5px;
  z-index:1;
  border-color: black;
 }
 .resUl{
  display:none;
 }
 .slide{
   height:65vh;
   background-size:cover;
   margin-top:4em;
   width:90%;
  /* background-image: url('https://images2.vudu.com/uiEntry/46169/placard-1500.jpg'); */
   position:relative;
 }
 @media screen and (min-width:320px) and (max-width:480px){
  .navRes{
    display:none;
  }
  body{
    width:100%;
  }
  img{
    object-fit:contain;
  }
  .resUl{
display:flex;
  }
  .slide{
    height:20vh;
  }
  #logo{
    display:flex;
    height:100%;
  }
 }
}