@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
 .slide{
   height:65vh;
   background-size:cover;
   margin-top:4em;
   width:90%;
   position:relative;
   background-image: url('https://images2.vudu.com/uiEntry/46169/placard-1500.jpg');
 }
}